<div class="top">
  <div class="top-main">
    <div class="top-container">
      <div class="top-search">
        <div class="search-area">
          <p class="phrase-1">Potepan Shareでまだ体験したことのない<br>旅をしよう</p>
          <%= form_with url: search_rooms_path, method: :get do |f| %>
            <%= f.text_field :area, placeholder: "検索したいエリア",class:"form-control-a" %>
            <%= f.submit "探す", class: "actions btn-login form-control-a" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="pickup-area">
    <div class="areas">
      <h1 class="section-title">おすすめのエリア</h1>
      <div class="row1">
        <div class="area-tokyo">
          <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg",class: "panel-img"),  search_rooms_path(area:"東京")%>
          <span>東京</span>
        </div>
        <div class="area-oosaka">
          <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg",class: "panel-img"),  search_rooms_path(area:"大阪")%>
          <span>大阪</span>
        </div>
        <div class="area-kyoto">
          <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg",class: "panel-img"),  search_rooms_path(area:"京都")%>
          <span>京都</span>
        </div>
        <div class="area-sapporo">
          <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg",class: "panel-img"),  search_rooms_path(area:"札幌")%>
          <span>札幌</span>
        </div>  
      </div>
    </div>
  </div>
</div>