<div class="container devise">
  <div class="device-frame">
    <h2 class="title-login">ログイン</h2>
    <div class="devise-inner">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <div class="required-a"><span class="required-b"></span></div>
          <%= f.email_field :email, placeholder:"メールアドレス", autofocus: true, autocomplete: "email", class: "form-control-b" %>
        </div>

        <div class="field">
          <div class="required-a"><span class="required-b"></span></div>
          <%= f.password_field :password, placeholder:"パスワード", autocomplete: "current-password", class: "form-control-b"%>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "actions btn-login form-control-b"%>
        </div>
      <% end %>

      <%= link_to "新しいアカウントを作成", :new_user_registration %>
    </div>
  </div>
</div>
