<div class="room">
  <div class="row1">
    <div class="room-nav room-nav-pc">
      <ul>
        <li class="action"><%= link_to"基本情報", :new_room %></li>
      </ul>
    </div>

    <div class="room-nav room-nav-mobile">
      <ul>
        <li class="action"><%= link_to"基本情報", :new_room %></li>
      </ul>    
    </div>
    <div class="room-view">
      <div class="error-message">
        <%= render "shared/error", object: @room %>
      </div>  
    <%= form_with model: @room do |f| %>
      <div class="room-view-box">
          <div class="room-content">
            <div class="row2">
              <h2>ルーム情報登録</h2>            
            </div>
          </div>
          <div class="room-content">
            <div class="row2">
              <%= f.label :room_name, "ルーム名", class:"room-label" %>
              <%= f.text_field :room_name, placeholder: "ルーム名を入力", autofocus: true, class: "form-control-b"%>            
            </div>
          </div>
          <div class="room-content">
            <div class="row2">
              <%= f.label :room_introduction, "ルーム紹介",class:"room-label" %>
              <%= f.text_area :room_introducution, placeholder: "ルームの説明を入力", autofocus: true, class: "form-control-b"%>            
            </div>
          </div>
          <div class="room-content">
            <div class="row2">
              <%= f.label :charge, "料金", class:"room-label" %>
              <%= f.number_field :charge, placeholder: "1日あたりの料金を入力（半角数字）", class: "form-control-b", min: 0 %>         
            </div>
          </div>
          <div class="room-content">
            <div class="row2">
              <%= f.label :address, "住所", class:"room-label" %>
              <%= f.text_field :address, placeholder: "住所を入力", autofocus: true, class: "form-control-b"%>              
            </div>
          </div>
          <div class="room-content">
            <div class="row2">
              <%= f.label :room_image, "ルーム画像", class:"room-label" %>
              <%= f.file_field :room_image, placeholder: "画像を選択してください", autofocus: true, class: "form-control-b"%>               
            </div>
          </div>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="room-content">
            <div class="row2">
          <div class="room-registration">
            <%= f.submit "登録", class: "actions btn-login form-control-b" %>         
            </div>
          </div>                                                   
        <% end %>    
      </div>
    </div>
  </div>  
</div>